# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies (Pacotes do Node.js)
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testes e cobertura de código
coverage/

# Next.js (Arquivos gerados automaticamente)
.next/
out/
next-env.d.ts

# Produção (Builds gerados)
build/

# Arquivos de configuração temporários
.DS_Store
*.tsbuildinfo

# Certificados (Removendo arquivos sensíveis)
Certificados/
Certificados/cert.pem
Certificados/key.pem

# Ambiente virtual do Python (Não deve ir para o GitHub)
flask-backend/venv/

# Arquivos de cache do Python
__pycache__/
*.pyc
*.pyo

# Arquivos de ambiente (Evita expor chaves API)
.env*
next.js/.env.local

# Logs e arquivos temporários
logs/
*.log
tmp/

# Vercel (Se for usar Vercel para deploy)
.vercel

# Debug (Arquivos de logs gerados por erros)
npm-debug.log*
yarn-debug.log*
yarn-error.log*
