APScheduler==3.10.4
bcrypt==4.2.1
beautifulsoup4==4.12.3
cachelib==0.13.0
eventlet==0.40.3
Flask==3.1.0
Flask-Cors==5.0.0
Flask-JWT-Extended==4.6.0
Flask-Session==0.8.0
Flask-SocketIO==5.3.6
gunicorn==23.0.0
langchain==0.2.1
langchain-core==0.2.5
langchain-openai==0.1.7
lxml==5.3.0
openai==1.99.2
psycogreen==1.0.2
psycopg2-binary==2.9.10
pydantic==2.11.7
PyJWT==2.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
requests==2.32.3
urllib3==2.3.0
